:root{
    --primary-color: rgb(73, 102, 84);
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
}
body{
    background: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    line-height: 1,5em;
}
.conteiner{
    max-width: 620px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}
form input , form label , form button{
    display :block;
    width: 100%;
    margin-bottom: 10px;

}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);

}
form button{
    border:none;
    background: var(--primary-color);
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    height :50px;
    cursor:pointer;
}
h1,p{
    text-align: center;
}

.relogio{
    font-size: 3em;
}
button{
    width: 200px;
    height: 100px;
    background-color: var(--primary-color)
}
button:hover{
    background-color: rgba(0, 128, 0, 0.397);
}
.button{
    display: flex;
    
}
